services:
  aizoomdoc-server:
    build: .
    container_name: aizoomdoc-server
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
